$color-primario: #1a02b6;
$color-secundario: #192c8d;
$color-terciario: #115790;
$color-texto: #02040a;
$color-footer: #466076;
$color-card-diferenciales: #8e9dafc6;
$color-card-promo: #b2d3fb;
$color-nav-hover: #75d6ff;
$fuente-principal: "Raleway", sans-serif;